- content_for :stylesheets do
  - stylesheet_link_tag 'index2', media: 'all'

.wrapper
  %div
    Lorem ipsum dolor sit amet.
  %div
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolorem libero, temporibus facere, ab incidunt quae necessitatibus neque quos optio, corporis ipsum, possimus doloribus. Maxime sunt inventore hic ipsa voluptates obcaecati nobis recusandae dolorem vitae, rem magnam soluta, quidem quia!
  .nested
    %div Lorem
    %div Lorem
    %div Lorem
    %div Lorem
    %div Lorem
    %div Lorem
    %div Lorem
    %div Lorem
    %div Lorem
  %div
    Lorem ipsum dolor sit amet.
  %div
    Lorem ipsum dolor sit amet.
  %div
    Lorem ipsum dolor sit amet.
  %div
    Lorem ipsum dolor sit amet.
