body {
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}
// 12 column grid
.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(12, 100px);
	grid-column-gap: 30px;
}

// Navigation/Header

// Hero Image

// 3-Up Features

// Call Out

// Blog

// Footer
