.grid-wrapper

	%header.masthead
		.masthead-inner
			%header.site-title
				%h1 Company X
			%nav.main-nav
				%ul.hor-menu
					%li
						%a{href:'#'} About
					%li
						%a{href:'#'} Services
					%li
						%a{href:'#'} Contact
					%li
						%a{href:'#'} Sign In

	%section
		%p Hero

	%section
		%p Features

	%section
		%p Callout

	%section
		%p Blog

	%section
		%p Footer
